{include file='common/head.html'}

<div class="layui-body">
	{if([$list])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">模型列表</li>
	    <li lay-id="t2">模型新增</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
	  	   		 <table class="layui-table">
	            	<thead>
	                    <tr>
	                    	<th>序号</th>
	                        <th>名称</th>
	                        <th>类型</th>
	                        <th>URL名称</th>
	                        <th>列表页模板</th>
	                        <th>详情页模板</th>
	                        <th>状态</th>
	                        <th>操作</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {foreach $models(key,value)}
	                    <tr>
	                    	<td>[value->mcode]</td>
	                        <td>[value->name]</td>
	                        <td>
								{if($value->type==1)}单页{/if}
	                        	{if($value->type==2)}列表{/if}
							</td>
							<td>[value->urlname]</td>
	                        <td>[value->listtpl]</td>
	                        <td>[value->contenttpl]</td>
	                        <td>
	                            {if($value->status)}
	                            <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/0}"><i class='fa fa-toggle-on' title="点击禁用"></i></a>
	                            {else}
	                            <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/1}"><i class='fa fa-toggle-off' title="点击启用"></i></a>
	                            {/if}
	                        </td>
	                        <td>
	                        	{if(!$value->issystem)}
	                            	{fun=get_btn_del($value->id)}
	                            {/if}
	                            {fun=get_btn_mod($value->id)}
	                        </td>
	                    </tr>
	                    {/foreach}
	                </tbody>
	            </table>
	            <div class="page">{$pagebar}</div>
	  	   </div>
	  	   
	  	   <div class="layui-tab-item">
	  	   		<form action="{url./admin/Model/add}" method="post" class="layui-form">
	                <input type="hidden" name="formcheck" value="{$formcheck}" > 
	                <div class="layui-form-item">
	                     <label class="layui-form-label">模型名称  <span class="layui-text-red">*</span></label>
	                     <div class="layui-input-block">
	                     	<input type="text" name="name" required lay-verify="required" placeholder="请输入模型名称" class="layui-input">
	                     </div>
	                </div>
	                
	                 <div class="layui-form-item">
	                     <label class="layui-form-label">模型类型  <span class="layui-text-red">*</span></label>
	                     <div class="layui-input-block">
	                     	 <select name="type" lay-verify="required">
		                     	<option value="">请选择模型类型</option>
		                        <option value="1">单页</option>
		                        <option value="2">列表</option>
		                    </select>
	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">URL名称 </label>
	                     <div class="layui-input-block">
	                     	<input type="text" name="urlname"  placeholder="请输入URL地址名称，如：news" class="layui-input">
	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">列表页模板</label>
	                     <div class="layui-input-block">
	                     	 <select name="listtpl" id="listtpl">
		                     	<option value="">无</option>
		                     	{foreach $tpls(key,value)}
		                        	<option value="[value]">[value]</option>
		                        {/foreach}
		                     </select>
	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">详情页模板</label>
	                     <div class="layui-input-block">
	                     	<select name="contenttpl" id="contenttpl" >
		                     	<option value="">无</option>
		                     	{foreach $tpls(key,value)}
		                        	<option value="[value]">[value]</option>
		                        {/foreach}
		                     </select>
	                     </div>
	                </div>

	                <div class="layui-form-item">
	                     <label class="layui-form-label">字段名称 </label>
	                     <div class="layui-input-block">
	                     	<input type="text" name="columnname"  placeholder="请输入字段名称，如：标题，内容，用逗号隔开" value="内容栏目，内容标题，内容标题2，内容标题3，内容标题4，内容标题5，简介，附件，内容" class="layui-input">
	                     </div>
	                </div>

	                 <div class="layui-form-item">
	                     <label class="layui-form-label">列表显示/隐藏</label>
	                     <div class="layui-input-block">
						<input type="checkbox" name="isdesc" checked="checked" value="1" title="简介">
	                    	<input type="checkbox" name="isenclosure" checked="checked" value="1" title="附件">
	                    	<input type="checkbox" name="iscontent" checked="checked" value="1" title="内容">
	                    	<input type="checkbox" name="istags" checked="checked" value="1" title="tags">
	                    	<input type="checkbox" name="isauthor" checked="checked" value="1" title="作者">
	                    	<input type="checkbox" name="issource" checked="checked" value="1" title="来源">
	                    	<input type="checkbox" name="isico"  checked="checked" value="1" title="缩略图">
	                    	<input type="checkbox" name="ispics" checked="checked" value="1" title="轮播多图">
	                    	<input type="checkbox" name="iscanshu" checked="checked" value="1" title="参数">
	                    	<input type="checkbox" name="isurlname" checked="checked" value="1" title="URL名称">
	                    	<input type="checkbox" name="isurlink" checked="checked" value="1" title="跳转外连接">
	                    	<input type="checkbox" name="isdate" checked="checked" value="1" title="发布时间">
	                    	<input type="checkbox" name="isseotitle" checked="checked" value="1" title="SEO标题">
	                    	<input type="checkbox" name="isseokeywords" checked="checked" value="1" title="SEO关键词">
	                    	<input type="checkbox" name="isseodescription" checked="checked" value="1" title="SEO描述">

	                     </div>
	                </div>
	                
	                <div class="layui-form-item">
	                     <label class="layui-form-label">状态</label>
	                     <div class="layui-input-block">
	                     	<input type="radio" name="status" value="1" title="启用" checked>
							<input type="radio" name="status" value="0" title="禁用">
	                     </div>
	                </div>


	  	   		
	  	   			<div class="layui-form-item">
						 <div class="layui-input-block">
						    <button class="layui-btn" lay-submit>立即提交</button>
						    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						 </div>
					</div>

	  	   		</form>
	  	   </div>
	  </div>
	</div>
	{/if} 
	
	{if([$mod])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this">模型修改</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  		<form action="{url./admin/Model/mod/id/'.[$get.id].'}{$backurl}" method="post" class="layui-form">
	  			<input type="hidden" name="formcheck" value="{$formcheck}" > 
	  			<div class="layui-form-item">
                     <label class="layui-form-label">模型名称 <span class="layui-text-red">*</span></label>
                     <div class="layui-input-block">
                     	<input type="text" name="name" required lay-verify="required" value="{$model->name}" placeholder="请输入模型名称" class="layui-input">
                     </div>
                </div>
                
                 <div class="layui-form-item">
                     <label class="layui-form-label">模型类型  <span class="layui-text-red">*</span></label>
                     <div class="layui-input-block">
                     	 <select name="type" lay-verify="required">
	                     	<option value="">请选择模型类型</option>
	                        <option value="1" {if([$model->type]==1)}selected{/if}>单页</option>
	                        <option value="2" {if([$model->type]==2)}selected{/if}>列表</option>
	                    </select>
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">URL名称</label>
                     <div class="layui-input-block">
                     	<input type="text" name="urlname" value="{$model->urlname}" placeholder="请输入URL地址名称，如：news" class="layui-input">
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">列表页模板</label>
                     <div class="layui-input-block">
                     	<select name="listtpl" id="listtpl">
	                     	<option value="">无</option>
	                     	{foreach $tpls(key,value)}
	                        	
	                       	{if([$model->listtpl]==$value)}
	                        	<option value="[value]" selected="selected">[value]</option>
	                        	{else}
	                        	<option value="[value]">[value]</option>
	                        	{/if}
	                        	{/foreach}
	                     </select>
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">详情页模板</label>
                     <div class="layui-input-block">
                     	<select name="contenttpl" id="contenttpl" >
	                     	<option value="">无</option>
	                     	{foreach $tpls(key,value)}
	                     	{if([$model->contenttpl]==$value)}
	                        	<option value="[value]" selected="selected">[value]</option>
	                        	{else}
	                        	<option value="[value]">[value]</option>
	                        	{/if}
	                        {/foreach}
	                     </select>
                     </div>
                </div>
                <div class="layui-form-item">
                     <label class="layui-form-label">字段名称</label>
                     <div class="layui-input-block">
                     	<input type="text" name="columnname" value="{$model->columnname}" placeholder="请输入字段名称，如：标题，内容" class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">列表显示/隐藏</label>
                     <div class="layui-input-block">
                     	<!-- <input type="checkbox" name="istitle"  value="1" title="内容标题" {if([$model->istitle]==1)}checked{/if}>
                     	<input type="checkbox" name="istitle2"  value="1" title="内容标题2" {if([$model->istitle2]==1)}checked{/if}>
                     	<input type="checkbox" name="istitle3"  value="1" title="内容标题3" {if([$model->istitle3]==1)}checked{/if}>
                     	<input type="checkbox" name="istitle4"  value="1" title="内容标题4" {if([$model->istitle4]==1)}checked{/if}>
                     	<input type="checkbox" name="istitle5"  value="1" title="内容标题5" {if([$model->istitle5]==1)}checked{/if}> -->

                     	
					<input type="checkbox" name="isdesc"  value="1" title="简介" {if([$model->isdesc]==1)}checked{/if}>
                    	<input type="checkbox" name="isenclosure" value="1" title="附件" {if([$model->isenclosure]==1)}checked{/if} >
                    	<input type="checkbox" name="iscontent"  value="1" title="内容" {if([$model->iscontent]==1)}checked{/if}>
                    	<!-- <input type="checkbox" name="iscontent2"  value="1" title="内容2" {if([$model->iscontent2]==1)}checked{/if}>
                    	<input type="checkbox" name="iscontent3"  value="1" title="内容3" {if([$model->iscontent3]==1)}checked{/if}>
                    	<input type="checkbox" name="iscontent4"  value="1" title="内容4" {if([$model->iscontent4]==1)}checked{/if}>
                    	<input type="checkbox" name="iscontent5"  value="1" title="内容5" {if([$model->iscontent5]==1)}checked{/if}>
                    	<input type="checkbox" name="iscontent6"  value="1" title="内容6" {if([$model->iscontent6]==1)}checked{/if}> -->
                    	<input type="checkbox" name="istags"  value="1" title="tags" {if([$model->istags]==1)}checked{/if}>
                    	<input type="checkbox" name="isauthor"  value="1" title="作者" {if([$model->isauthor]==1)}checked{/if}>
                    	<input type="checkbox" name="issource"   value="1" title="来源" {if([$model->issource]==1)}checked{/if}>
                    	<input type="checkbox" name="isico"   value="1" title="缩略图" {if([$model->isico]==1)}checked{/if}>
                    	<input type="checkbox" name="ispics" value="1" title="轮播多图" {if([$model->ispics]==1)}checked{/if}>
                    	<input type="checkbox" name="iscanshu"  value="1" title="参数" {if([$model->iscanshu]==1)}checked{/if}>
                    	<input type="checkbox" name="isurlname"  value="1" title="URL名称" {if([$model->isurlname]==1)}checked{/if}>
                    	<input type="checkbox" name="isurlink"  value="1" title="跳转外连接" {if([$model->isurlink]==1)}checked{/if}>
                    	<input type="checkbox" name="isdate"  value="1" title="发布时间" {if([$model->isdate]==1)}checked{/if}>
                    	<input type="checkbox" name="isseotitle"  value="1" title="SEO标题" {if([$model->isseotitle]==1)}checked{/if}>
                    	<input type="checkbox" name="isseokeywords"  value="1" title="SEO关键词" {if([$model->isseokeywords]==1)}checked{/if}>
                    	<input type="checkbox" name="isseodescription"  value="1" title="SEO描述" {if([$model->isseodescription]==1)}checked{/if}>

                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">状态</label>
                     <div class="layui-input-block">
                     	<input type="radio" name="status" value="1" title="启用" {if([$model->status]==1)}checked{/if}>
					<input type="radio" name="status" value="0" title="禁用" {if([$model->status]==0)}checked{/if}>
                     </div>
                </div>
  	   		
  	   			<div class="layui-form-item">
					 <div class="layui-input-block">
					    <button class="layui-btn" lay-submit>立即提交</button>
					    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
					    {fun=get_btn_back()}
					 </div>
				</div>	
	  		</form>
	  	</div>
	  </div>
	 </div>
	{/if} 

</div>

{include file='common/foot.html'}
