{include file='common/head.html'}

<div class="layui-body">
	{if([$list])}
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="t1">{$model_name}内容</li>
	  </ul>
	  <div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
	  	   		<form action="{url./admin/Single/index/mcode/'.get('mcode').'}" method="get" class="layui-form">
		  	   		<div class="layui-form-item nospace">
		  	   			<div class="layui-input-inline">
		  	   				{$pathinfo}
					       <select name="field" class="form-control input-sm" style="width:auto;">
					       		<option value="b.name" {if(get('field')=='b.name')}selected="selected" {/if}>栏目名称</option>
                                <option value="a.title" {if(get('field')=='a.title')}selected="selected" {/if} >文章标题</option>
                                <option value="a.content" {if(get('field')=='a.content')}selected="selected" {/if}>文章内容</option>
                        	</select>
					    </div>
	                     <div class="layui-input-inline">
	                     	<input type="text" name="keyword"  value="{$get.keyword}"  placeholder="请输入搜索关键字" class="layui-input">
	                     </div>
	                     <div class="layui-input-inline">
	                     	<button class="layui-btn" lay-submit>搜索</button>
	                     	<a class="layui-btn layui-btn-primary"  href="{url./admin/Single/index/mcode/'.get('mcode').'}">清除搜索</a>
	                     </div>
	                </div>
                </form>

	            <table class="layui-table">
	            	<thead>
	                    <tr>
	                    	<th>ID</th>
	                        <th>栏目</th>
	                        <th>标题</th>
	                        <th>时间</th>
	                        <th>状态</th>
	                        <th>后台状态</th>
	                        <th>访问量</th>
	                        <th>操作</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {foreach $contents(key,value)}
	                    <tr>
	                    	<td>[value->id]</td>
	                        <td title="[value->scode]">[value->sortname]</td>
	                         <td title="[value->title]">
		                        {fun=substr_both($value->title,0,15)}
		                        {if($value->ico)}
		                        	<span class="layui-badge layui-bg-orange">缩</span>
		                        {/if}
		                        {if($value->pics)}
		                        	<span class="layui-badge">图</span>
		                        {/if}
		                        {if($value->outlink)}
	                            	<span class="layui-badge layui-bg-black">链</span>
	                            {/if}
	                        </td>
	                        <td>[value->date]</td>
	                        <td>
	                        {if($value->status)}
		                        <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/0}"><i class='fa fa-toggle-on' title="点击关闭"></i></a>
		                        {else}
		                        <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/1}"><i class='fa fa-toggle-off' title="点击开启"></i></a>
		                    {/if}
		                    </td>
		                    <td>
	                        {if($value->status_admin)}
		                        <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status_admin/value/0}"><i class='fa fa-toggle-on' title="点击关闭"></i></a>
		                        {else}
		                        <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status_admin/value/1}"><i class='fa fa-toggle-off' title="点击开启"></i></a>
		                    {/if}
		                    </td>
		                    <td>[value->visits]</td>
	                        <td>
	                        	{if(!$value->outlink)}
		                        	{php}
		                        	 $value->urlname=$value->urlname?:'about';
		                        	 $url_rule_sort_suffix = \core\basic\Config::get('url_rule_sort_suffix') ? true : false;
		                        	{/php}
		                        	
		                           	{if($value->filename)}
		                        	<a href="{fun=homeurl('/home/Index/'.$value->filename,$url_rule_sort_suffix)}" class="layui-btn layui-btn-xs layui-btn-primary"  target="_blank">查看</a>
		                        	{else}
		                        	<a href="{fun=homeurl('/home/Index/'.$value->urlname.[$url_break_char].$value->scode,$url_rule_sort_suffix)}" class="layui-btn layui-btn-xs layui-btn-primary"  target="_blank">查看</a>
		                        	{/if}
	                        	{/if}
	                        	
	                            {if(check_level('mod/mcode/'.$value->mcode))}
	                            	<a href="{url./admin/Single/mod/mcode/'.$value->mcode.'/id/'.$value->id.'}{$btnqs}" class="layui-btn layui-btn-xs" >修改</a>
	                            	{if([$baidu_zz_token] && !$value->outlink)}
	                            		<a href="{url./admin/'.C.'/mod/baiduzz/'.$value->id.'}" class="layui-btn layui-btn-xs layui-btn-primary" >百度普通推送</a>
	                            	{/if}
	                            	{if([$baidu_ks_token] && !$value->outlink)}
	                            		<a href="{url./admin/'.C.'/mod/baiduks/'.$value->id.'}" class="layui-btn layui-btn-xs layui-btn-primary" >百度快速推送</a>
	                            	{/if}
	                            {/if}
	                        </td>
	                    </tr>
	                    {/foreach}
	                </tbody>
	            </table>
	  	   </div>
	  </div>
	 </div>
	{/if} 
	
	{if([$mod])}
	
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
	  <ul class="layui-tab-title">
	    <li class="layui-this">单页修改</li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="layui-tab-item layui-show">
	  		<form action="{url./admin/Single/mod/id/'.[$get.id].'}{$backurl}" method="post" class="layui-form" id="edit">
	  			<input type="hidden" name="formcheck" value="{$formcheck}" > 
	  			<div class="layui-tab">
					  <ul class="layui-tab-title">
					    <li class="layui-this">基本内容</li>
<!--					    <li>高级内容</li>-->
					  </ul>
					  <div class="layui-tab-content">
					    <div class="layui-tab-item layui-show">

			                <div class="layui-form-item">
			                     <label class="layui-form-label">{$titlename}   <span class="layui-text-red">*</span></label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title" required lay-verify="required" value="{$content->title}" placeholder="请输入{$titlename}" class="layui-input">
			                     </div>
			                </div>

			                 {if([$content->title2])}
			                 <div class="layui-form-item title2">
			                     <label class="layui-form-label">{$title2name}</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title2"  value="{$content->title2}" placeholder="请输入{$title2name}" class="layui-input">
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item title2" style="display:none">
			                     <label class="layui-form-label">{$title2name}</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title2"  value="" placeholder="请输入{$title2name}" class="layui-input">
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}


			                 {if([$content->title3])}
			                 <div class="layui-form-item title3">
			                     <label class="layui-form-label">{$title3name}</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title3"  value="{$content->title3}" placeholder="请输入{$title3name}" class="layui-input">
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item title3" style="display:none">
			                     <label class="layui-form-label">{$title3name}</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title3"  value="" placeholder="请输入{$title3name}" class="layui-input">
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}

			                 {if([$content->title4])}
			                 <div class="layui-form-item title4">
			                     <label class="layui-form-label">{$title4name}</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title4"  value="{$content->title4}" placeholder="请输入{$title4name}" class="layui-input">
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item title4" style="display:none">
			                     <label class="layui-form-label">{$title4name}</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title4"  value="" placeholder="请输入{$title4name}" class="layui-input">
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}


			                 {if([$content->title5])}
			                 <div class="layui-form-item title5">
			                     <label class="layui-form-label">{$title5name}</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title5"  value="{$content->title5}" placeholder="请输入{$title5name}" class="layui-input">
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item title5" style="display:none">
			                     <label class="layui-form-label">{$title5name}</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="title5"  value="" placeholder="请输入{$title5name}" class="layui-input">
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}

			                
			                 {if([$button_add])}
			                <div class="layui-form-item">
			                     <label class="layui-form-label"></label>
			                     <div class="layui-input-block">
			                     	<button type="button" class="layui-btn title_btn">
									 	 <i class="layui-icon">&#xe67c;</i>增加标题
									 </button>
			                     </div>
			                     
								
			                </div>
			                {/if}
			                <script>
			                	var titlenum=2;
			                	$('.title_btn').click(function(){
			                		$('.title'+titlenum).show();
			                		titlenum+=1;
			                	})
			                </script>
			                {if([$modelCurrent->isenclosure])}
			                <div class="layui-form-item">
								<label class="layui-form-label">{$enclosurename}</label>
								<div class="layui-input-inline">
									<input type="text" name="enclosure" id="enclosure" value="{$content->enclosure}" placeholder="请上传{$enclosurename}"  class="layui-input">
								</div>
								<button type="button" class="layui-btn file" data-des="enclosure">
									<i class="layui-icon">&#xe67c;</i>上传{$enclosurename}
								</button>
							</div>
							{/if}
							
							
			                
			                 {foreach $extfield(key,value)}
			                	{if($value->type==1)} <!-- 单行文本 -->
			                	<div class="layui-form-item ext">
			                		<label class="layui-form-label">[value->description]</label>
			                		<div class="layui-input-block">
				                    	<input type="text" name="[value->name]" value="{$content->{$value->name}}"  placeholder="请输入[value->description]"  class="layui-input">
				                	</div>
				                </div>
			                	{/if}
			                	
			                	{if($value->type==2)}<!-- 多行文本 -->
			                	<div class="layui-form-item ext">
			                		<label class="layui-form-label">[value->description]</label>
			                		<div class="layui-input-block">
				                		<textarea name="[value->name]" class="layui-textarea" placeholder="请输入[value->description]">{php}$name=$value->name;echo str_replace('<br>', "\r\n",$this->vars['content']->$name);{/php}</textarea>
				                	</div>
				                </div>
			                	{/if}
			                	
			                    {if($value->type==3)}<!-- 单选 -->
			                	<div class="layui-form-item ext">
			                		<label class="layui-form-label">[value->description]</label>
			                		<div class="layui-input-block">
				                		<div>
	            						     {php}
				                				$radios=explode(',',$value->value);
				                				$name=$value->name;
				                				foreach ($radios as $value2) {
				                					if($this->vars['content']->$name==$value2){
	                									echo '<input type="radio" name="'.$value->name.'" value="'.$value2.'" title="'.$value2.'" checked>';
	                								}else{
	                									echo '<input type="radio" name="'.$value->name.'" value="'.$value2.'" title="'.$value2.'">';
	                								}
	            								}
	            						     {/php}
					                    </div>
				                	</div>
				                </div>
			                	{/if}
			                	
			                    {if($value->type==4)}<!-- 多选 -->
			                	<div class="layui-form-item ext">
			                		<label class="layui-form-label">[value->description]</label>
			                		<div class="layui-input-block">
				                		<div>
	            						     {php}
				                				$checkboxs=explode(',',$value->value);
				                				$name=$value->name;
				                				echo '<input name="'.$value->name.'" type="hidden">';//占位清空
				                				$values=explode(',',$this->vars['content']->$name);
				                				foreach ($checkboxs as $value2) {
				                					if(in_array($value2,$values)){
	            										echo '<input type="checkbox" name="'.$value->name.'[]" value="'.$value2.'" title="'.$value2.'" checked>';
	            									}else{
	            										echo '<input type="checkbox" name="'.$value->name.'[]" value="'.$value2.'" title="'.$value2.'">';
	            									}
	            								}
	            						     {/php}
					                    </div>
				                	</div>
				                </div>
			                	{/if}
			                	
			                	{if($value->type==5)}<!-- 图片 -->
			                	<div class="layui-form-item ext">
			                		<label class="layui-form-label">[value->description]</label>
			                		<div class="layui-input-inline">
				                     	<input type="text" name="[value->name]" id="[value->name]" value="{$content->{$value->name}}" placeholder="请上传[value->description]"  class="layui-input">
				                     </div>
				                     <button type="button" class="layui-btn upload watermark" data-des="[value->name]">
									 	 <i class="layui-icon">&#xe67c;</i>上传图片
									 </button>
									  {php}
									  	$pic_name=@$value->name;
				                        $file = get_http_url().@[$content->$pic_name];
				                      
				                        $size = getimagesize($file);
				                         if(!$size){
				                            echo "";
				                            
				                        }else{
				                            echo "<span class='layui-word-aux'>尺寸大小：".$size[0]."x".$size[1]."</span>";
				                        }
				                    {/php}
									
									 <div class="layui-form-item">
									    <div class="layui-inline">
									      <label class="layui-form-label">alt</label>
									      <div class="layui-input-inline">
									        <input type="text" name="[value->alt]" value="{$content->{$value->alt}}" autocomplete="off" class="layui-input">
									      </div>
									    </div>
									 </div>

									<!--  <span class="layui-word-aux">尺寸大小：120x120</span> -->
									 {php}$name=$value->name; {/php}
									 <div id="[value->name]_box" class="pic"><dl><dt>{if([$content]->$name)}<img src='{SITE_DIR}{$content->{$value->name}}' data-url="{$content->{$value->name}}"></dt><dd>删除</dd></dl>{/if}</div>
				                </div>
			                	{/if}
			                	
			                	{if($value->type==6)}<!-- 文件 -->
			                	<div class="layui-form-item ext">
			                		<label class="layui-form-label">[value->description]</label>
			                		<div class="layui-input-inline">
				                     	<input type="text" name="[value->name]" id="[value->name]" value="{$content->{$value->name}}" placeholder="请上传[value->description]"  class="layui-input">
				                     </div>
				                     <button type="button" class="layui-btn file" data-des="[value->name]">
									 	 <i class="layui-icon">&#xe67c;</i>上传文件
									 </button>
				                </div>
			                	{/if}
			                	
			                	{if($value->type==7)}<!-- 日期 -->
				                <div class="layui-form-item ext">
				                     <label class="layui-form-label">[value->description]</label>
				                     <div class="layui-input-block">
				                     	<input type="text" name="[value->name]" value="{$content->{$value->name}}" readonly placeholder="请选择[value->description]"  class="layui-input datetime">
				                     </div>
				                </div>
			                	{/if}
			                	
			                	{if($value->type==8)}<!-- 编辑器 -->
			                	<div class="layui-form-item ext">
			                		<label class="layui-form-label">[value->description]</label>
			                		<div class="layui-input-block">
			                			{php}
			                				$name=@$value->name;
			                			{/php}
				                		<textarea type="text/plain" id="editor_[value->name]" name="[value->name]" style="width:100%;height:240px;">{fun=decode_string([$content->$name])}</textarea>
										<input type="hidden" id="[value->beifen]" name="[value->beifen]" value="{$content->{$value->beifen}}" autocomplete="off" class="layui-input">
										<script charset="utf-8" src="{CORE_DIR}/extend/kindeditor/kindeditor-all.js"></script>

<script>
	 KindEditor.lang({
                                beifen : '备份',
                                huifu:'恢复'
                        });
KindEditor.ready(function(K) {	
KindEditor.plugin('beifen', function(K) {
						        var editor = this, name = 'beifen';

						        // 点击图标时执行
						        editor.clickToolbar(name, function() {
						               var content= editor.html();
						            //   alert('aaa');
						            //   alert(content);
						             //  alert(this.id);
						               $('#[value->beifen]').val(content);
						             //  alert(beifen);
						            //   alert('[value->beifen]');
						              // alert($('#content_beifen'));
						        });
						});

			KindEditor.plugin('huifu', function(K) {
			        var editor = this, name = 'huifu';
			        // 点击图标时执行
			        editor.clickToolbar(name, function() {
			               var content= $('#[value->beifen]').val();
			                
			                editor.html(content);
			              // alert($('#content_beifen'));
			        });
			});	
	
editor=K.create('#editor_[value->name]', {
				uploadJson : K.basePath+'php/upload_json.php',
				fileManagerJson : K.basePath+'php/file_manager_json.php',
				allowFileManager : true,
				filterMode:false,
				width : '100%',   //宽度
        		height : '420px',   //高度

				afterBlur: function () { this.sync(); },
				
			});


								
			
								

            });

</script>
				                	</div>
				                </div>
			                	{/if}
			                	
			                	{if($value->type==9)}<!-- 下拉 -->
			                	<div class="layui-form-item ext" data-scode="[value->scode]">
			                		<label class="layui-form-label">[value->description]</label>
			                		<div class="layui-input-block">
			                			<select name="[value->name]">
			                				{php}
				                				$selects=explode(',',$value->value);
				                				$name=$value->name;
				                				foreach ($selects as $value2) {
				                					if($this->vars['content']->$name==$value2){
				                						echo '<option value="'.$value2.'" selected>'.$value2.'</option>';
	                								}else{
	                									echo '<option value="'.$value2.'">'.$value2.'</option>';
	                								}
	            								}
	            						    {/php}
			                			</select>
				                	</div>
				                 </div>
			                	 {/if}
			                	 
			                {/foreach}
			                {if([$modelCurrent->iscontent])}
			                <div class="layui-form-item">
			                     <label class="layui-form-label">{$contentname}</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor" name="content" style="width:100%;height:240px;">{fun=decode_string([$content->content])}</textarea>
			                     	<input type="hidden" name="content_beifen" id="content_beifen" class="layui-input" value="{fun=decode_string([$content->content_beifen])}"/>
			                     </div>
			                </div>
			                {/if}

			               	{if([$content->content2])}
			                 <div class="layui-form-item content2">
			                     <label class="layui-form-label">内容2</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor2" name="content2" style="width:100%;height:240px;">{fun=decode_string([$content->content2])}</textarea>
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item content2" style="display:none">
			                     <label class="layui-form-label">内容2</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor2" name="content2" style="width:100%;height:240px;"></textarea>
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}
			                {if([$content->content3])}
			                 <div class="layui-form-item content3">
			                     <label class="layui-form-label">内容3</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor3" name="content3" style="width:100%;height:240px;">{fun=decode_string([$content->content3])}</textarea>
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item content3" style="display:none">
			                     <label class="layui-form-label">内容3</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor3" name="content3" style="width:100%;height:240px;"></textarea>
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}

			                {if([$content->content4])}
			                 <div class="layui-form-item content4">
			                     <label class="layui-form-label">内容4</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor4" name="content4" style="width:100%;height:240px;">{fun=decode_string([$content->content4])}</textarea>
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item content4" style="display:none">
			                     <label class="layui-form-label">内容4</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor4" name="content4" style="width:100%;height:240px;"></textarea>
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}


			                {if([$content->content5])}
			                 <div class="layui-form-item content5">
			                     <label class="layui-form-label">内容5</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor5" name="content5" style="width:100%;height:240px;">{fun=decode_string([$content->content5])}</textarea>
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item content5" style="display:none">
			                     <label class="layui-form-label">内容5</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor5" name="content5" style="width:100%;height:240px;"></textarea>
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}


			                {if([$content->content6])}
			                 <div class="layui-form-item content6">
			                     <label class="layui-form-label">内容6</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor6" name="content6" style="width:100%;height:240px;">{fun=decode_string([$content->content6])}</textarea>
			                     	
			                     </div>
			                 </div>
			                {else}
			                <div class="layui-form-item content6" style="display:none">
			                     <label class="layui-form-label">内容6</label>
			                     <div class="layui-input-block">
			                     	<textarea type="text/plain" id="editor6" name="content6" style="width:100%;height:240px;"></textarea>
			                     	
			                     </div>
			                
			                     
								
			                </div>
			                {/if}

			                
			                 {if([$button_add])}
			                <div class="layui-form-item">
			                     <label class="layui-form-label"></label>
			                     <div class="layui-input-block">
			                     	<button type="button" class="layui-btn content_btn">
									 	 <i class="layui-icon">&#xe67c;</i>增加内容
									 </button>
			                     </div>
			                     
								
			                </div>
			                {/if}
			                <script>
			                	var num=2;
			                	$('.content_btn').click(function(){
			                		$('.content'+num).show();
			                		num+=1;
			                	})
			                </script>


			                {if([$modelCurrent->istags])}
			                <div class="layui-form-item">
			                     <label class="layui-form-label">tags</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="tags" placeholder="请输入文章tag，英文逗号隔开" value="{$content->tags}" class="layui-input">
			                     </div>
			                </div>
			                {/if}
			                {if([$modelCurrent->isauthor])}
			                <div class="layui-form-item">
			                     <label class="layui-form-label">作者</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="author" placeholder="请输入作者" value="{$content->author}" class="layui-input">
			                     </div>
			                </div>
			                {/if}
			                {if([$modelCurrent->issource])}
			                <div class="layui-form-item">
			                     <label class="layui-form-label">来源</label>
			                     <div class="layui-input-block">
			                     	<input type="text" name="source" placeholder="请输入来源" value="{$content->source}" class="layui-input">
			                     </div>
			                </div>
			                {/if}
			                {if([$modelCurrent->isico])}
			                <div class="layui-form-item">
			                     <label class="layui-form-label">缩略图</label>
			                     <div class="layui-input-inline">
			                     	<input type="text" name="ico" id="ico" value="{$content->ico}" placeholder="请上传缩略图"  class="layui-input">
			                     </div>
			                     <button type="button" class="layui-btn upload watermark" data-des="ico">
								 	 <i class="layui-icon">&#xe67c;</i>上传图片
								 </button>
								  {php}

				                        $file = get_http_url().@[$content->ico];
				                       
				                        $size = getimagesize($file);
				                         if(!$size){
				                            echo "";
				                            
				                        }else{
				                            echo "<span class='layui-word-aux'>尺寸大小：".$size[0]."x".$size[1]."</span>";
				                        }
				                    {/php}
								 <!-- <i class="layui-icon layui-icon-about" style="font-size: 30px;vertical-align: middle;cursor:pointer;"></i> -->
								<!--  {if(get('id')==1)}<span class="layui-word-aux">尺寸大小：120x120</span>{/if} -->
								  <div class="layui-form-item">
								    <div class="layui-inline">
								      <label class="layui-form-label">alt</label>
								      <div class="layui-input-inline">
								        <input type="tel" name="ico_alt" value="{$content->ico_alt}" autocomplete="off" class="layui-input">
								      </div>
								    </div>
								</div>
								 <div id="ico_box" class="pic addedit">{if([$content->ico])}<dl><dt><img src="{SITE_DIR}{$content->ico}" data-url="{$content->ico}"></dt><dd>删除</dd></dl>{/if}</div>
			                </div>
			                {/if}
							{if([$modelCurrent->ispics])}
							<div class="layui-form-item">
								<label class="layui-form-label">轮播多图</label>
								<div class="layui-input-inline">
									<input type="text" name="pics" id="pics" value="{$content->pics}" placeholder="请上传轮播多图"  class="layui-input">
								</div>
								<button type="button" class="layui-btn uploads watermark" data-des="pics">
									<i class="layui-icon">&#xe67c;</i>上传多图
								</button>
								 {php}
								 	$srcduo=@[$content->pics];
								 	
								 	$srcone=explode(',',$srcduo)[0];

			                        $file = get_http_url().$srcone;
			                       
			                        $size = getimagesize($file);
			                         if(!$size){
			                            echo "";
			                            
			                        }else{
			                            echo "<span class='layui-word-aux'>尺寸大小：".$size[0]."x".$size[1]."</span>";
			                        }
			                    {/php}
								<!-- <i class="layui-icon layui-icon-about" style="font-size: 30px;vertical-align: middle;cursor:pointer;"></i> -->
								<!--  {if(get('mcode')==1)}<span class="layui-word-aux">尺寸大小：120x120</span>{/if} -->
								<!-- <span class="layui-word-aux">尺寸大小：120x120</span> -->
								<div id="pics_box" class="pic addedit">
									<dl></dl> <!-- 规避空内容拖动bug -->
									{php}
									if([$content->pics]){
									$pics=explode(',',[$content->pics]);
									}else{
									$pics = array();
									}
									if([$content->duotutitle]){
									$duotutitle=explode(',',[$content->duotutitle]);
									}else{
									$duotutitle = array();
									}
									{/php}
									<?php foreach ($pics as $pic_key=>$value) :
									$duotutitle_value = empty($duotutitle["$pic_key"])?'':$duotutitle["$pic_key"];?>
									<dl><dt><img src='<?php echo SITE_DIR.$value?>' data-url='<?php echo $value?>'></dt><dd>删除</dd><input type='text' name='duotutitle[]'  class='layui-input' value='<?Php echo $duotutitle_value; ?>' placeholder='请输入图片名称' style='width:120px;margin-right: 5px;'></dl>

									<?php endforeach;?>
								</div>
							</div>
							{/if}


<!--							<div class="layui-form-item">-->
<!--								<label class="layui-form-label">标题颜色</label>-->
<!--								<div class="layui-input-inline">-->
<!--									<input type="text" name="titlecolor" value="{$content->titlecolor}" placeholder="请选择标题颜色"  class="layui-input jscolor {hash:true}">-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="layui-form-item">-->
<!--								<label class="layui-form-label">副标题</label>-->
<!--								<div class="layui-input-block">-->
<!--									<input type="text" name="subtitle" value="{$content->subtitle}" placeholder="请输入副标题" class="layui-input">-->
<!--								</div>-->
<!--							</div>-->
							{if([$modelCurrent->isdate])}
							<div class="layui-form-item">
								<label class="layui-form-label">时间</label>
								<div class="layui-input-inline">
									<input type="text" name="date" value="{$content->date}" readonly placeholder="请选择发布时间"  class="layui-input datetime">
								</div>
								<div class="layui-form-mid layui-word-aux">温馨提示：单页不支持定时发布！</div>
							</div>
							{/if}
							
							{if([$modelCurrent->isseokeywords])}
							<div class="layui-form-item">
								<label class="layui-form-label">SEO关键字</label>
								<div class="layui-input-block">
									<input type="text" name="keywords" value="{$content->keywords}"  placeholder="请输入详情页SEO关键字" class="layui-input">
								</div>
							</div>
							{/if}
							{if([$modelCurrent->isseodescription])}
							<div class="layui-form-item">
								<label class="layui-form-label">SEO描述</label>
								<div class="layui-input-block">
									<textarea name="description" placeholder="请输入详情页SEO描述" class="layui-textarea">{$content->description}</textarea>
								</div>
							</div>
							{/if}

							<div class="layui-form-item">
								<label class="layui-form-label">状态</label>
								<div class="layui-input-block">
									<input type="radio" name="status" value="1" title="显示" {if([$content->status]==1)} checked="checked"{/if}>
									<input type="radio" name="status" value="0" title="隐藏" {if([$content->status]==0)} checked="checked"{/if}>
								</div>
							</div>

					    </div>
					    
					    <div class="layui-tab-item ">
					    

					    </div>
					  </div>
					</div>
					<div class="layui-form-item">
						 <div class="layui-input-block">
						    <button class="layui-btn" lay-submit>立即提交</button>
						    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
						    {fun=get_btn_back()}
						 </div>
					</div>
	  		</form>
	  	</div>
	  </div>
	</div>
	{/if} 

</div>

<style>.placeHolder {border:dashed 2px gray; }</style>
<script type="text/javascript" src="{APP_THEME_DIR}/js/jquery.dragsort-0.5.2.min.js"></script>
<script type="text/javascript">
$("#pics_box").dragsort({
	dragSelector: "dl",
	dragSelectorExclude: "input,textarea,dd",
	dragBetween: false,
	dragEnd: saveOrder,
	placeHolderTemplate: "<dl class='placeHolder'><dt></dt></dl>"
});

function saveOrder() {
	var data = $("#pics_box dl dt img").map(function() {
		return $(this).data("url");
	}).get();
	$("input[name=pics]").val(data.join(","))
};
</script>
<script type="text/javascript" src="{APP_THEME_DIR}/js/jscolor.js"></script>

{include file='common/kindeditor.html'}
{include file='common/foot.html'}
