
<link rel="stylesheet" href="{APP_THEME_DIR}/layui/css/layui.css?v=v2.5.4">
  <link rel="stylesheet" href="{APP_THEME_DIR}/font-awesome/css/font-awesome.min.css?v=v4.7.0" type="text/css">
  <link rel="stylesheet" href="{APP_THEME_DIR}/css/comm.css?v=v2.0.7">
<div class="layui-body"  style="position:static !important">

	<div class="layui-tab-content">
	  	   <div class="layui-tab-item layui-show">
	  	   		
                
	  	   		
		            
		            <table class="layui-table">
		            	<thead>
		                    <tr >
		                    	<td style="font-weight:bold;font-size:16px;" colspan=7>基础内容图片尺寸</td>
		                    </tr>
		                </thead>
		                <tbody>
		                   
		                  <tr>
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;站点信息</td>
		                   	
		                   	<td colspan=3>&nbsp;&nbsp;&nbsp;&nbsp;站点logo:202*36</td>
		                   	<td colspan=3>&nbsp;&nbsp;&nbsp;&nbsp;站点底部logo:230*40</td>
		                   	
		                   </tr>
		                   <tr>
		                   	<td >&nbsp;&nbsp;&nbsp;&nbsp;公司信息</td>
		                   	
		                   	<td colspan=6>&nbsp;&nbsp;&nbsp;&nbsp;微信二维码:120*120</td>
		                   </tr>

		                   <tr>
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;网站栏目</td>
		                   	
		                   	<td >&nbsp;&nbsp;&nbsp;&nbsp;栏目大图(about-us):1920*650</td>
		                   	<td >&nbsp;&nbsp;&nbsp;&nbsp;栏目大图(Company Profile):1920*836</td>
		                   	<td >&nbsp;&nbsp;&nbsp;&nbsp;栏目大图(PRODUCT):1920*627</td>
		                   	<td >&nbsp;&nbsp;&nbsp;&nbsp;图标(PRODUCT-):50*50</td>
		                   	<td >&nbsp;&nbsp;&nbsp;&nbsp;栏目大图(news):1920*455</td>
		                   	<td >&nbsp;&nbsp;&nbsp;&nbsp;栏目大图(contact):1080*524</td>
		                   </tr>

		                </tbody>
		            </table>

		            
			       
			        <table class="layui-table">
		            	<thead>
		                    <tr>
		                    	<th style="font-weight:bold;font-size:16px;" colspan=2>关于我们图片尺寸</th>
		                    </tr>
		                </thead>
		                <tbody>
		                   
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;列表</td>
		                   	
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;缩略图(Company Culture):444*257</td>
		                   	
		                   </tr>
		                  
		                </tbody>
		            </table>

		            <table class="layui-table">
		            	<thead>
		                    <tr>
		                    	<th style="font-weight:bold;font-size:16px;" colspan=3>产品中心图片尺寸</th>
		                    </tr>
		                </thead>
		                <tbody>
		                   
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;列表</td>
		                   	
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;缩略图:306*231</td>
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;轮播多图:136*136</td>
		                   </tr>
		                  
		                </tbody>
		            </table>

		            <table class="layui-table">
		            	<thead>
		                    <tr>
		                    	<th style="font-weight:bold;font-size:16px;" colspan=2>新闻中心图片尺寸</th>
		                    </tr>
		                </thead>
		                <tbody>
		                   
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;列表</td>
		                   	
		                   	
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;缩略图:457*241</td>
		                   </tr>
		                  
		                </tbody>
		            </table>

		            <table class="layui-table">
		            	<thead>
		                    <tr>
		                    	<th style="font-weight:bold;font-size:16px;" colspan=2>联系我们图片尺寸</th>
		                    </tr>
		                </thead>
		                <tbody>
		                   
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;列表</td>
		                   	
		                   	
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;缩略图:37*32</td>
		                   </tr>
		                  
		                </tbody>
		            </table>
						
			        <table class="layui-table">
		            	<thead>
		                    <tr>
		                    	<th style="font-weight:bold;font-size:16px;" colspan=3>扩展内容图片尺寸</th>
		                    </tr>
		                </thead>
		                <tbody>
		                   
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;轮播图片</td>
		                   	
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;图片(电脑):1920*1186</td>
		                   	<td>&nbsp;&nbsp;&nbsp;&nbsp;图片(手机):1920*1186</td>
		                   </tr>
		                  
		                </tbody>
		            </table>
                    
                   
			     
	  	   </div>

</div>


