<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
		<meta http-equiv="Pragma" content="no-cache"> 
		<meta http-equiv="Cache-Control" content="no-cache"> 
		<meta http-equiv="Expires" content="0"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>网站后台管理系统</title>
		<link rel="stylesheet" href="/apps/admin/view/default/layui/css/layui.css">
		<link rel="stylesheet" href="/apps/admin/view/default/login/style.css">
	</head>
	<body>

		<div class="login">
			<div class="login-img"><img src="/apps/admin/view/default/login/img.jpg" alt=""></div>
			<div class="login-item">
				<div class="login-logo"><img src="/apps/admin/view/default/login/logo.png" alt=""></div>
				<div class="login-title"><h4>后台管理系统</h4></div>
				<div class="login-form">
					<div class="login-form-result"><p></p><span></span></div>
					<form action="{url./admin/Index/login}" method="post" class="layui-form" id="dologin">
					<ul>
						<li>
							<input type="hidden" name="formcheck" id="formcheck" value="{$formcheck}" > 
							<input type="text" name="username" id="username" placeholder="请输入用户名" autocomplete="off">
							<span class="login-form-hint"></span>
						</li>
						<li>
							<input type="password" name="password" id="password" placeholder="请输入登录密码" autocomplete="off">
							<span class="login-form-hint"></span>
							<i class="login-form-eye"></i>
						</li>
						<li>
							<input type="text" name="checkcode" id="authcode" placeholder="验证码" autocomplete="off">
							<span class="login-form-hint"></span>
							<span class="login-form-code"><img title="点击刷新"  src="{CORE_DIR}/code.php" onClick="this.src='{CORE_DIR}/code.php?'+Math.round(Math.random()*10);"></img></span>
						</li>
					</ul>
					<!--<div class="login-form-handle">-->
					<!--	<div class="login-form-remember"><span>记住密码</span></div>-->
					<!--	<div class="login-form-forget"><a href="#">忘记密码?</a></div>-->
					<!--</div>-->
					<button class="login-form-submit">登录</button>
				</form>
				</div>
				<div class="login-code">
					<h6><span>咨询其他服务报价</span></h6>
					<img src="/apps/admin/view/default/login/code.png" alt="">
				</div>
			</div>
		</div>

		
		<script type="text/javascript" src="{APP_THEME_DIR}/js/jquery-1.12.4.min.js"></script>
		<script>
		$(function(){
// 			$(".login-form-remember span").click(function(){
//                 if(!$(this).hasClass("ontrue")){
//                     $(this).addClass("ontrue");
//                 }else{
//                     $(this).removeClass("ontrue");
//                 }
//             	});
            $(".login-form-eye").click(function(){if(!$(this).hasClass("show")){$(this).addClass("show");$("#password")[0].type = "text";}else{$(this).removeClass("show");$("#password")[0].type = "password";}});

			$('#dologin').submit(function(){
				var username = $.trim($("#username").val());
                var password = $.trim($("#password").val());
                var authcode = $.trim($("#authcode").val());
				if (username == ''){$("#username").addClass("error");$("#username").next(".login-form-hint").css("opacity","1").html("当前用户名为空");return false;}
                if (password == ''){$("#password").addClass("error");$("#password").next(".login-form-hint").css("opacity","1").html("当前密码为空");return false;}
                if (authcode == ''){$("#authcode").addClass("error");$("#authcode").next(".login-form-hint").css("opacity","1").html("当前验证码为空");return false;}

				$.ajax({
					type: 'POST',
					url: $(this).attr('action'),
					dataType: 'json',
					data: $(this).serialize(),
					success: function (response, status) {
						if (response.code == 1) {
							// layer.msg("登录成功！", {icon: 1});
							$(".login-form-result").show().addClass("success");
							$(".login-form-result p").html("登录成功");
							$(".login-form-result span").remove();
							setTimeout(() => {window.location.href = response.data;}, 2000);
						} else {
							// layer.msg("登录失败：" + response.data, {icon: 5});
							$(".login-form-result").show();
							$(".login-form-result p").html(response.data);
						} 
					},
					error:function(xhr,status,error){
						layer.msg("请求发生错误!", {icon: 5});
					}
				});
				return false;
			});
		});
		</script>
	</body>
</html>
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1278887163'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D1278887163' type='text/javascript'%3E%3C/script%3E"));
</script> 