{include file='common/head.html'}

<div class="layui-body">
    {if([$list])}
    <div class="layui-tab layui-tab-brief" lay-filter="tab">
      <ul class="layui-tab-title">
        <li class="layui-this" lay-id="t1">图片列表</li>
        <li lay-id="t2">图片新增</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form action="{url./admin/Slide/mod}" method="post" class="layui-form" onkeydown="if(event.keyCode==13) return false;">
            <input type="hidden" name="formcheck" value="{$formcheck}" > 
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>分类(gid)</th>
                        <th>图片</th>
                        <th>链接</th>
                        <!-- <th>标题</th> -->
                        <!-- <th>副标题</th> -->
                        <th>排序</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $slides(key,value)}
                    <tr>
                        <td>[value->slideName]</td>
                        <td><img src="{SITE_DIR}[value->pic]" style="height:30px;"></td>
                        <td>[value->link]</td>
                        <!-- <td>[value->title]</td> -->
                        <!-- <td>[value->subtitle]</td> -->
                        <td class="table-input">
                        <input type="hidden" name="listall[]" value="[value->id]">
                        <input type="text" lay-ignore class="layui-input" name="sorting[]" value="[value->sorting]">
                        </td>
                         <td>
                        {if($value->status)}
                            <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/0}"><i class='fa fa-toggle-on' title="点击关闭"></i></a>
                            {else}
                            <a href="{url./admin/'.C.'/mod/id/'.$value->id.'/field/status/value/1}"><i class='fa fa-toggle-off' title="点击开启"></i></a>
                        {/if}
                        </td>
                        <td>
                            {fun=get_btn_del($value->id)}
                            {fun=get_btn_mod($value->id)}
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <button type="submit" name="submit" value="sorting" class="layui-btn layui-btn-sm">保存排序</button>
            </form> 
            <div class="page">{$pagebar}</div>
        </div>
        
        <div class="layui-tab-item">
            <form action="{url./admin/Slide/add}" method="post" class="layui-form">
                <input type="hidden" name="formcheck" value="{$formcheck}" > 
                <div class="layui-form-item">
                     <label class="layui-form-label">分类</label>
                     <div class="layui-input-block">
                        <select name="gid" >    
                            {foreach $gids(key,value)}
                                <option value="[value->gid]" >[value->name]</option>
                            {/foreach}
                            <option value="" >自动新增分类</option>
                        </select>
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">图片(电脑)</label>
                     <div class="layui-input-inline">
                        <input type="text" name="pic" id="pic" required  lay-verify="required" placeholder="请上传图片"  class="layui-input">
                     </div>
                     <button type="button" class="layui-btn upload" data-des="pic">
                         <i class="layui-icon">&#xe67c;</i>上传图片
                     </button>
                      {php}

                        $file = get_http_url().@[$pic_url];
                       
                        $size = getimagesize($file);
                         if(!$size){
                            echo "";
                            
                        }else{
                            echo "<span class='layui-word-aux'>尺寸大小：".$size[0]."x".$size[1]."</span>";
                        }
                    {/php}

                    <!--  <i class="layui-icon layui-icon-about" style="font-size: 30px;vertical-align: middle;cursor:pointer;"></i> -->
                    <!--  <span class="layui-word-aux">尺寸大小：120x120</span> -->
                      <div class="layui-form-item">
                                    <div class="layui-inline">
                                      <label class="layui-form-label">alt</label>
                                      <div class="layui-input-inline">
                                        <input type="text" name="pic_alt" value="" autocomplete="off" class="layui-input">
                                      </div>
                                    </div>
                                </div>
                     <div id="pic_box" class="pic"></div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">小图(手机)</label>
                     <div class="layui-input-inline">
                        <input type="text" name="pic2" id="pic2" placeholder="请上传图片"  class="layui-input">
                     </div>
                     <button type="button" class="layui-btn upload" data-des="pic2">
                         <i class="layui-icon">&#xe67c;</i>上传图片
                     </button>
                      {php}

                        $file = get_http_url().@[$pic2_url];
                       
                        $size = getimagesize($file);
                         if(!$size){
                            echo "";
                            
                        }else{
                            echo "<span class='layui-word-aux'>尺寸大小：".$size[0]."x".$size[1]."</span>";
                        }
                    {/php}
                    <!--  <i class="layui-icon layui-icon-about" style="font-size: 30px;vertical-align: middle;cursor:pointer;"></i> -->
                    <!--  <span class="layui-word-aux">尺寸大小：120x120</span> -->
                      <div class="layui-form-item">
                                    <div class="layui-inline">
                                      <label class="layui-form-label">alt</label>
                                      <div class="layui-input-inline">
                                        <input type="text" name="pic2_alt" value="" autocomplete="off" class="layui-input">
                                      </div>
                                    </div>
                                </div>
                     <div id="pic2_box" class="pic"></div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">链接</label>
                     <div class="layui-input-block">
                        <input type="text" name="link" placeholder="请输入跳转链接"  class="layui-input">
                     </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">视频</label>
                    <div class="layui-input-inline">
                        <input type="text" name="enclosure" id="enclosure" placeholder="请上传视频"  class="layui-input">
                    </div>
                    <button type="button" class="layui-btn file" data-des="enclosure">
                        <i class="layui-icon">&#xe67c;</i>上传视频
                    </button>
                </div>
                
                 <div class="layui-form-item">
                     <label class="layui-form-label">标题</label>
                     <div class="layui-input-block">
                        <input type="text" name="title" placeholder="请输入标题"  class="layui-input">
                        <input type="hidden" name="content_beifen" id="content_beifen" class="layui-input" value="{fun=decode_string([$slide->content_beifen])}"/>
                     </div>
                </div>
                
                 <div class="layui-form-item">
                     <label class="layui-form-label">alt</label>
                     <div class="layui-input-block">
                        <input type="text" name="alt" placeholder="请输入alt"  class="layui-input">
                     </div>
                </div> 
                
                <div class="layui-form-item">
                     <label class="layui-form-label">排序</label>
                     <div class="layui-input-block">
                        <input type="text" name="sorting" required lay-verify="required" value="255" placeholder="请输入排序"  class="layui-input">
                     </div>
                </div>
                
                 <div class="layui-form-item">
                     <div class="layui-input-block">
                        <button class="layui-btn" lay-submit>立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                     </div>
                </div>
            </form>
        </div>
      </div>
    </div>
    {/if} 
    
    {if([$mod])}
    <div class="layui-tab layui-tab-brief" lay-filter="tab">
      <ul class="layui-tab-title">
        <li class="layui-this">幻灯片修改</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form action="{url./admin/Slide/mod/id/'.[$get.id].'}{$backurl}" method="post" class="layui-form">
                <input type="hidden" name="formcheck" value="{$formcheck}" > 
                <div class="layui-form-item">
                     <label class="layui-form-label">分类</label>
                     <div class="layui-input-block">
                        <select name="gid"> 
                            {foreach $gids(key,value)}
                                <option value="[value->gid]" {if([$slide->gid]==$value->gid)}selected{/if}>[value->name]</option>
                            {/foreach}
                            <option value="" >自动新增分类</option>
                        </select>
                     </div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">图片(电脑)</label>
                     <div class="layui-input-inline">
                        <input type="text" name="pic" id="pic" required  lay-verify="required" value="{$slide->pic}" placeholder="请上传图片"  class="layui-input">
                     </div>
                     <button type="button" class="layui-btn upload" data-des="pic">
                         <i class="layui-icon">&#xe67c;</i>上传图片
                     </button>

                     {php}

                        $file = get_http_url().@[$slide->pic];
                       
                        $size = getimagesize($file);
                         if(!$size){
                            echo "";
                            
                        }else{
                            echo "<span class='layui-word-aux'>尺寸大小：".$size[0]."x".$size[1]."</span>";
                        }
                    {/php}
                    <!--  <i class="layui-icon layui-icon-about" style="font-size: 30px;vertical-align: middle;cursor:pointer;"></i> -->
                   <!--   <span class="layui-word-aux">尺寸大小：120x120</span> -->
                      <div class="layui-form-item">
                                    <div class="layui-inline">
                                      <label class="layui-form-label">alt</label>
                                      <div class="layui-input-inline">
                                        <input type="text" name="pic_alt" value="{$slide->pic_alt}" autocomplete="off" class="layui-input">
                                      </div>
                                    </div>
                                </div>
                     <div id="pic_box" class="pic">{if([$slide->pic])}<dl><dt><img src="{SITE_DIR}{$slide->pic}" data-url="{$slide->pic}"></dt><dd>删除</dd></dl>{/if}</div>
                </div>

                 <div class="layui-form-item">
                     <label class="layui-form-label">小图(手机)</label>
                     <div class="layui-input-inline">
                        <input type="text" name="pic2" id="pic2" value="{$slide->pic2}" placeholder="请上传图片"  class="layui-input">
                     </div>
                     <button type="button" class="layui-btn upload" data-des="pic2">
                         <i class="layui-icon">&#xe67c;</i>上传图片
                     </button>
                     {php}

                        $file = get_http_url().@[$slide->pic2];
                       
                        $size = getimagesize($file);
                         if(!$size){
                            echo "";
                            
                        }else{
                            echo "<span class='layui-word-aux'>尺寸大小：".$size[0]."x".$size[1]."</span>";
                        }
                    {/php}
                    <!--  <i class="layui-icon layui-icon-about" style="font-size: 30px;vertical-align: middle;cursor:pointer;"></i> -->
                    <!--  <span class="layui-word-aux">尺寸大小：120x120</span> -->
                      <div class="layui-form-item">
                                    <div class="layui-inline">
                                      <label class="layui-form-label">alt</label>
                                      <div class="layui-input-inline">
                                        <input type="tel" name="pic2_alt" value="{$slide->pic2_alt}" autocomplete="off" class="layui-input">
                                      </div>
                                    </div>
                                </div>
                     <div id="pic2_box" class="pic">{if([$slide->pic2])}<dl><dt><img src="{SITE_DIR}{$slide->pic2}" data-url="{$slide->pic2}"></dt><dd>删除</dd></dl>{/if}</div>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">跳转链接</label>
                     <div class="layui-input-block">
                        <input type="text" name="link" value="{$slide->link}"  placeholder="请输入跳转链接"  class="layui-input">
                     </div>
                </div>

                 <div class="layui-form-item">
                    <label class="layui-form-label">视频</label>
                    <div class="layui-input-inline">
                        <input type="text" name="enclosure" id="enclosure" value="{$slide->enclosure}" placeholder="请上传视频"  class="layui-input">
                    </div>
                    <button type="button" class="layui-btn file" data-des="enclosure">
                        <i class="layui-icon">&#xe67c;</i>上传视频
                    </button>
                </div>
                
                <div class="layui-form-item">
                     <label class="layui-form-label">标题</label>
                     <div class="layui-input-block">
                        <input type="text" name="title" value="{$slide->title}" placeholder="请输入标题"  class="layui-input">
                        <input type="hidden" name="content_beifen" id="content_beifen" class="layui-input" value="{fun=decode_string([$slide->content_beifen])}"/>
                     </div>
                </div>
                
                  <div class="layui-form-item">
                     <label class="layui-form-label">alt</label>
                     <div class="layui-input-block">
                        <input type="text" name="alt" value="{$slide->alt}" placeholder="请输入alt"  class="layui-input">
                     </div>
                </div> 
                
                 <div class="layui-form-item">
                     <label class="layui-form-label">排序</label>
                     <div class="layui-input-block">
                        <input type="text" name="sorting" required lay-verify="required" value="{$slide->sorting}" placeholder="请输入排序"  class="layui-input">
                     </div>
                </div>
                
                 <div class="layui-form-item">
                     <div class="layui-input-block">
                        <button class="layui-btn" lay-submit>立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        {fun=get_btn_back()}
                     </div>
                </div>
            </form>
        </div>
      </div>
    </div>
    {/if} 

</div>
{include file='common/foot.html'}
    <script charset="utf-8" src="{CORE_DIR}/extend/kindeditor/kindeditor-all.js"></script>
<script>

 KindEditor.lang({
                                beifen : '备份',
                                huifu:'恢复'
                        });
KindEditor.ready(function(K) {  
KindEditor.plugin('beifen', function(K) {
                                var editor = this, name = 'beifen';

                                // 点击图标时执行
                                editor.clickToolbar(name, function() {
                                       var content= editor.html();
                                    //   alert('aaa');
                                    //   alert(content);
                                     //  alert(this.id);
                                       $('#content_beifen').val(content);
                                     //  alert(beifen);
                                    //   alert('[value->beifen]');
                                      // alert($('#content_beifen'));
                                });
                        });

            KindEditor.plugin('huifu', function(K) {
                    var editor = this, name = 'huifu';
                    // 点击图标时执行
                    editor.clickToolbar(name, function() {
                           var content= $('#content_beifen').val();
                            
                            editor.html(content);
                          // alert($('#content_beifen'));
                    });
            });   
K.create('input[name="title"]', {
                uploadJson : K.basePath+'php/upload_json.php',
                fileManagerJson : K.basePath+'php/file_manager_json.php',
                allowFileManager : true,
                filterMode:false,
                width : '100%',   //宽度
                height : '420px',   //高度
                afterBlur: function () { this.sync(); }
            });
            });
</script>